---
import Layout from "~/layouts/PageLayout.astro";

import ContactUs from "~/components/widgets/Contact.astro";
import Steps2 from "~/components/widgets/Steps2.astro";

const metadata = {
	title: "Contact",
};
---

<Layout metadata={metadata}>
  <ContactUs
    name="contact"
    action="/contact/send"
    title="Contactez-nous"
    subtitle="Vous avez une question ? N'hésitez pas ! Nous sommes ici pour aider."
    inputs={[
      {
        type: 'text',
        name: 'name',
        label: 'Votre nom',
        required: true,
      },
      {
        type: 'email',
        name: 'email',
        label: 'Votre e-mail',
        required: true,
      },
    ]}
    button="Envoyer"
    textarea={{
      label: 'Message',
    }}
    disclaimer={{
      label:
        'En soumettant ce formulaire de contact, vous reconnaissez and acceptez à la collecte des informations personnelles qui lui sont données dans le cadre de cette prise de contact.',
    }}
  />
  <Steps2
    items={[
      {
        title: 'Par e-mail',
        description: '<a href="mailto:mathieu@khalypso.fr">mathieu@khalypso.fr</a>',
        icon: 'tabler:mail',
      },
    ]}
  />
</Layout>
