---
import Layout from '~/layouts/PageLayout.astro';

import Hero2 from '~/components/widgets/Hero2.astro';
import Features from '~/components/widgets/Features.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Content from '~/components/widgets/Content.astro';

import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';

const metadata = {
  title: 'Khalypso - Editeur logiciel',
};
---

<Layout metadata={metadata}>
  <!-- Hero2 Widget ******************* -->

  <Hero2
    tagline="Editeur de logiciel web et mobile"
    image={{
      src: 'https://images.unsplash.com/photo-1580481072645-022f9a6dbf27?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'AstroWind Hero Image',
    }}
  >
    <Fragment slot="title">
      Transformez votre entreprise avec <span class="text-accent dark:text-white highlight">Khalypso</span>
    </Fragment>

    <Fragment slot="subtitle">
      Avec une expertise éprouvée et une passion pour l'excellence, nous créons des logiciels <span
        class="font-semibold">sur mesure</span
      > qui répondent aux besoins uniques de votre entreprise.
    </Fragment>
  </Hero2>

  <!-- Features Widget *************** -->

  <Features
    id="features"
    title="Pourquoi Khalypso ?"
    subtitle="Liassez-nous vous convaincre de nous faire confiance"
    columns={3}
    items={[
      {
        title: 'Un design sur-mesure et personnalisable pour votre entreprise',
        description: `L'intégration de votre charte graphique se fait aisément sur notre modèle.`,
        icon: 'tabler:artboard',
      },
      {
        title: 'Compatibilité optimale pour tous les navigateurs et écrans',
        description:
          'Votre site se doit d\'être disponible par tous et pour tous.',
        icon: 'tabler:podium',
      },
      {
        title: 'Optimisé SEO',
        description: `Avoir un beau site, c'est bien. Pouvoir le montrer, c'est mieux ! Nous suivons les meilleurs pratiques SEO pour que votre site soit le plus rapide, accessible et optimisé possible.`,
        icon: 'tabler:eyeglass',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    title="Nos applications"
    subtitle="Découvrez les applications développées par nos soins"
    isReversed
    items={[
      {
        title: 'Description:',
        description:
          'Vous en avez assez de chercher désespérément une boîte aux lettres quand vous en avez le plus besoin ? Ne cherchez plus ! "Chasseur de Boîtes" est là pour vous simplifier la vie. Notre application intuitive et facile à utiliser vous aide à localiser les boîtes aux lettres les plus proches de vous ou dans une zone spécifique de votre choix.',
      },
      {
        classes: {
          icon: 'hidden',
        },
        callToAction: {
          href: 'https://play.google.com/store/apps/details?id=fr.khalypso.maboiteauxlettres&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1',
          text: "<img alt='Disponible sur Google Play' src='https://play.google.com/intl/en_us/badges/static/images/badges/fr_badge_web_generic.png'/>",
        },
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1620558138198-cfb9b4f3c294?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1671&q=80',
      alt: 'Startup Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Chasseurs de Boîtes: <br /><span class="text-2xl">Disponible sur Android</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Contactez-nous"
    subtitle="Vous avez une question ? N'hésitez pas ! Nous sommes ici pour aider."
    items={[
      {
        title: 'Par e-mail',
        description: 'mathieu@khalypso.fr',
        icon: 'tabler:mail',
      },
    ]}
  />

  <!-- BlogLatestPost Widget **************** -->

  <BlogLatestPosts id="blog" title="Restez informés de notre actualité">
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>
</Layout>
