<h2 class="text-2xl mt-8">Projets</h2>
<div class="grid grid-cols-1 md:grid-cols-3 gap-10 mt-3">
  <a href="https://www.bellezzadiem.fr" aria-label="Aller sur bellezzadiem.fr">
    <div
      class="bg-primary rounded-lg p-3 text-gray-200 transition ease-in hover:shadow-xl hover:scale-105"
    >
      <h3>Bellezzadiem.fr</h3>
      <p class="text-sm font-light">
        Entreprise individuelle de prothésie ongulaire
      </p>
    </div>
  </a>
  <a href="https://www.povotech.fr" aria-label="Aller sur povotech.fr">
    <div
      class="bg-primary rounded-lg p-3 text-gray-200 transition ease-in hover:shadow-xl hover:scale-105"
    >
      <h3>Povotech.fr</h3>
      <p class="text-sm font-light">
        Prestataire informatique sur Porto-Vecchio
      </p>
    </div>
  </a>
  <div>à suivre...</div>
</div>
