<section
  class="w-full h-[100px] mt-6"
  style="background: linear-gradient(1deg, rgba(245,158,11,1) 50%, rgba(16,47,65,1) 51%);"
>
</section>
<section class="bg-secondary text-primary"><slot /></section>
<section
  class="w-full h-[100px]"
  style="background: linear-gradient(-1deg, rgba(16,47,65,1) 50%, rgba(245,158,11,1) 51%);"
>
</section>
