---
import "~/assets/styles/tailwind.css";

import { ClientRouter } from "astro:transitions";
import { GoogleAnalytics } from "@astrolib/analytics";
import { SEO, type Props as SEOProps } from "astro-seo";
import Favicons from "~/components/Favicons.astro";
import GoogleSiteVerification from "~/components/GoogleSiteVerification.astro";
import { SITE } from "~/config";

export interface Props {
	metadata?: SEOProps;
}

const { metadata = {} } = Astro.props;
---

<!DOCTYPE html>
<html lang={SITE.language} class="2xl:text-[20px]">
  <head>
    <script is:inline>
      // ☝️ This script prevent the FART effect.
      if (localStorage.getItem("theme") === null) {
        document.documentElement.setAttribute("data-theme", "light");
      } else
        document.documentElement.setAttribute(
          "data-theme",
          localStorage.getItem("theme")
        );
      // "theme" LocalStorage value is set by the package to remember user preference.
      // The value is checked and applyed before rendering anything.
    </script>
    <script>
      import { themeChange } from "theme-change";
      themeChange();
      // 👆 you could import the CDN directly instead of these two lines
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <Favicons />
    <SEO
      titleTemplate={`%s | ${SITE.name}`}
      description="Editeur de logiciels web et mobiles"
      openGraph={{
        basic: {
          title: SITE.name,
          type: "website",
          image: "/assets/images/default.png",
        },
      }}
      {...metadata}
    />
    <GoogleSiteVerification
      content="orcPxI47GSa-cRvY11tUe6iGg2IO_RPvnA1q95iEM3M"
    />
    <GoogleAnalytics id="G-0F3422HG5J" partytown />
    <ClientRouter fallback="swap" />
  </head><body class="antialiased tracking-tight">
    <slot />
  </body>
</html>
