---
import "~/assets/styles/tailwind.css";

import { ViewTransitions } from "astro:transitions";
import Favicons from "~/components/Favicons.astro";
import { SEO, type Props as SEOProps } from "astro-seo";
import { GoogleAnalytics } from "astro-analytics";
import GoogleSiteVerification from "~/components/GoogleSiteVerification.astro";
import { SITE } from "~/config";

export interface Props {
  metadata?: SEOProps;
}

const { metadata = {} } = Astro.props;
---

<!doctype html>
<html lang={SITE.language} class="2xl:text-[20px]">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <Favicons />
    <SEO
      titleTemplate={`%s | ${SITE.name}`}
      description="Editeur de logiciels web et mobiles"
      openGraph={{
        basic: {
          title: SITE.name,
          type: "website",
          image: "/assets/images/default.png",
        },
      }}
      {...metadata}
    />
    <GoogleSiteVerification
      content="orcPxI47GSa-cRvY11tUe6iGg2IO_RPvnA1q95iEM3M"
    />
    <GoogleAnalytics id="G-0F3422HG5J" />
    <ViewTransitions fallback="swap" />
  </head><body class="antialiased tracking-tight">
    <slot />
  </body>
</html>
