---
import Footer from "~/components/ui/Footer.astro";
import Header from "~/components/ui/Header.astro";
import Layout, { type Props as LayoutProps } from "~/layouts/Layout.astro";

import { footerData, headerData } from "~/navigation";

export interface Props {
	metadata?: LayoutProps["metadata"];
}

const { metadata } = Astro.props;
---

<Layout metadata={metadata}>
  <slot name="header">
    <Header {...headerData} />
  </slot>
  <main class="bg-base-200">
    <slot />
  </main>
  <slot name="footer">
    <Footer {...footerData} />
  </slot></Layout
>
