<!doctype html>
<html>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="/admin/config.yml" type="text/yaml" rel="cms-config-url" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/hithismani/responsive-decap@main/dist/responsive.css" />
  <meta name="robots" content="noindex" />
  <title>Content Manager</title>

  <body>
    <!-- Inclure le script qui construit la page et alimente Decap CMS -->
    <script src="https://unpkg.com/decap-cms@^3.0.0/dist/decap-cms.js"></script>
  </body>
</html>
